@import "tailwindcss";

body {
  @apply bg-slate-950;
}


.recharts-wrapper,
.recharts-wrapper *,
.chart-container,
.chart-container * {
  outline: none !important;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
  filter: invert(1);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


.recharts-tooltip-cursor {
  fill: #49596c !important;
  fill-opacity: 0.8 !important;
}
